<div class='audio-controls'>
	<span class='play-btn'
		ng-class="{'paused' : audio.paused}"
		ng-click='$event.stopPropagation(); play()'
		tabindex="0"
		aria-label="Interact to play audio clue.">
	</span>
	<span class='time' aria-hidden="true">
		<span class='seek-bar' aria-hidden="true">
			<input type='range'
				min='0.0'
				max='{{ duration }}'
				step='0.1'
				ng-model='currentTime'
				ng-mousedown='$event.stopPropagation(); preChangeTime()'
				ng-mouseup='$event.stopPropagation(); changeTime()'
				aria-hidden="true">
		</span>
		<span aria-hidden="true" class='duration'>
			{{ toMinutes(currentTime) }} / {{ toMinutes(duration) }}
		</span>
	</span>
</div>
